<!DOCTYPE html>
<html>
  <head>
    <%= render "partials/head" %>
  </head>

  <body class="flex flex-col items-center w-full">
    <%= render "partials/navbar" %>

    <% if notice || alert %>
      <%= render "partials/alerts" %>
    <% end %>

    <%= yield %>

    <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
